# ================= PYTHON =================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ================= ENV (VERY IMPORTANT) =================
.env
.env.*

# ================= NODE =================
node_modules/

# ================= STATIC LARGE FILES =================
static/images/
static/sector_images/
static/uploads/

# ================= ARCHIVES & MEDIA =================
*.zip
*.mp4
*.pdf
*.csv

# ================= IDE =================
.vscode/
.idea/

# ================= OS =================
.DS_Store
Thumbs.db
